<h1>Employee Details</h1>
    <div class="empd">
        <label><b>Id: </b></label> {{employee.id}}<br>
        <label><b>Name: </b></label> {{employee.name}}<br>
        <label><b>Email-id: </b></label> {{employee.email}}<br>
        <label><b>Age: </b></label> {{employee.age}}
    </div>