<div class="cre">
    <div class="col-md-5 offset-md-3">
        <h3 style="text-align: center;">Create Employee</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Name</label>
                <div class="col-20">
                    <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name"
                     minlength="2" maxlength="20" placeholder="Enter name">
                </div>
                <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div>
            </div>

            <div class="form-group">
                <label>Email</label>
                <div class="col-20">
                    <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email"
                    placeholder="Enter email">
                </div>
                <div class="col-10" *ngIf="employeeError?.email">
                    <span class="text text-danger">{{employeeError.email}}</span>
                </div>
            </div>

            <div class="form-group">
                <label>Age</label>
                <div class="col-20">
                    <input type="number" class="form-control" id="age" [(ngModel)]="employee.age" name="age"
                    placeholder="Enter age">
                </div>
                <div class="col-10" *ngIf="employeeError?.age">
                    <span class="text text-danger">{{employeeError.age}}</span>
                </div>
            </div>

            <button class="btn btn-success"  type="submit">Submit</button>

        </form>

    </div>
</div>