<div class="upd">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Update Employee</h3>
        
        <form #update="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label><b>Name</b></label>
                <input #name="ngModel" required type="text" minlength="2" maxlength="20" class="form-control" id="name"
                [(ngModel)]="employee.name" name="name">
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    name is required
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Name must be at least 2 characters long.
                </div>
            </div>
        
            <div class="form-group">
                <label><b>Email-id</b></label>
                <input #email="ngModel" required type="text" class="form-control" id="email" ngModel email
                [(ngModel)]="employee.email" name="email">
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    email is required
                </div>
            </div>
        
            <div class="form-group">
                <label><b>Age</b></label>
                <input #age="ngModel" required type="number" min="18" max="99" class="form-control" id="age"
                [(ngModel)]="employee.age" name="age">
                <div *ngIf="age.touched && age.invalid" class="alert alert-danger">
                    age is invalid
                </div>
            </div>
            <br>
        
            <button [disabled]="update.invalid" class="btn btn-info" type="submit">Submit</button>
            
        </form>
        </div>
    </div>