.dltmsg{
    margin-top: 0%;
    margin-left: 1120px;
    text-align: right;
    font-weight: 600;
    color: white;
    background-color: red;
    padding: 10px;
}

.updmsgg{
    margin-top: 0%;
    margin-left: 1120px;
    text-align: right;
    font-weight: 600;
    color: white;
    background-color: green;
    padding: 10px;
}