<h2>Employee List</h2>
<table class="table table-secondary table-striped" style="margin-bottom: 100px;">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email-id</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.age}}</td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class="btn btn-info"><b>Update</b></button>
                <button (click) = "deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px; margin-top: -1px;"><b>Delete</b></button>
                
                <button (click) = "employeeDetails(employee.id)" class="btn btn-success" style="margin-left: 10px; margin-top: -1px;"><b>View</b></button>
            </td>
        </tr>
    </tbody>
</table>
