<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
        </li>
    </ul>
</nav>
<h1 class="titl">{{title}}</h1><br>
<div class="container">
    <router-outlet></router-outlet>
</div>
    <footer class="footer">
        <div class="container">
            <span>All Rights Reserved 2022</span>
        </div>
    </footer> 