/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

.footer{
    font-weight: 700;
    position: fixed;
    bottom: 0%;
    padding-top: 23px;
    width: 100%;
    height: 70px;
    background-color: coral;
    text-align: center;
    color: black;
}

.alert {
 margin-top: 0px;
 color: red;
 padding-top: 1px;
 padding-bottom: 1px;
}
